@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&display=swap');

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -20;
  }

.hoverable {
    display: inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform: translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
  }
  
  .hoverable:before {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    content: "";
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }
  
  .hoverable:hover, .hoverable:active, .hoverable:focus {
    transform: translateY(-5px);
  }
  
  .hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before {
    opacity: 1;
    transform: translateY(-5px);
  }
  
  @keyframes bounce-animation {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
  }
  

  @media (min-width: 768px) {
    .navbar {
      text-align: center !important;
      float: none;
      display: inline-block;
    }
  }
  body {
    background-color: black;
    font-weight: 600;
    text-align: center !important;
    color: white;
    font-family: 'Encode Sans SC', sans-serif;
  }
  
  nav {
    background: none !important;
    text-transform: uppercase;
  }
  nav li {
    margin-left: 3em;
    margin-right: 3em;
  }
  nav li a {
    transition: 0.5s color ease-in-out;
  }
  
  .page-title {
    opacity: 0.75 !important;
    padding-top: 10px;
  }

  .page-title1 {
    opacity: 0.75 !important;
    padding-top: 200px;
  }


  .preserve-3d {
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
  }

  
  
  .button_base {
      margin: 0;
      border: 0;
      font-size: 18px;
      position: relative; 
      top: 50px;
      left: 50%;
      margin-top: 25px;
      margin-left: -100px;
      width: 200px;
      height: 50px;
      text-align: center;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-user-select: none;
      cursor: default;
  }
  
  .button_base:hover {
      cursor: pointer;
  }

  .b12_3d_glitch {
      overflow: hidden;
      width: 200px;
      height: 51px;
  }
  
  .b12_3d_glitch div {
      padding: 10px;
      position: absolute;
      text-align: center;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 200px;
      height: 50px;
  }
  
  .b12_3d_glitch div:nth-child(1) {
      top: 1px;
      left: 0px;
      border: #ffffff solid 1px;
  }
  
  .b12_3d_glitch div:nth-child(2) {
      color: #fff;
      left: -100px;
      top: 2px;
      width: 400px;
      height: 50px;
  }
  
  .b12_3d_glitch:hover div:nth-child(1) {
      animation: b12_3d_glitch_bg 0.3s linear;
      -webkit-animation: b12_3d_glitch_bg 0.3s linear;
      -moz-animation: b12_3d_glitch_bg 0.3s linear;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
  }
  
  .b12_3d_glitch:hover div:nth-child(2) {
      color: #000000;
      animation: b12_3d_glitch 0.3s linear;
      -webkit-animation: b12_3d_glitch 0.3s linear;
      -moz-animation: b12_3d_glitch 0.3s linear;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAGCAYAAAAL+1RLAAAAF0lEQVQIW2NkwAIYgWKS6OIgQQxAoUoAE4AAUnD/0ugAAAAASUVORK5CYII=) repeat;
  }
  
  @-webkit-keyframes b12_3d_glitch_bg {
      49.00% {
          background-color: #ffffff;
      }
      50.00% {
          background-color: #000000;
      }
      to {
          background-color: #000000;
      }
  }
  
  @-webkit-keyframes b12_3d_glitch {
      from {
          transform: skewX(0deg);
          -webkit-transform: skewX(0deg);
          -moz-transform: skewX(0deg);
          color: #000000;
      }
      25.00% {
          transform: skewX(80deg);
          -webkit-transform: skewX(80deg);
          -moz-transform: skewX(80deg);
          color: #000000;
      }
      75.00% {
          transform: skewX(-20deg);
          -webkit-transform: skewX(-20deg);
          -moz-transform: skewX(-20deg);
          color: #ffffff;
      }
      90.00% {
          transform: skewX(0deg);
          -webkit-transform: skewX(0deg);
          -moz-transform: skewX(0deg);
          color: #ffffff;
      }
      to {
          transform: skewX(0deg);
          -webkit-transform: skewX(0deg);
          -moz-transform: skewX(0deg);
          color: #ffffff;
      }
  }
  
  @-moz-keyframes b12_3d_glitch_bg {
      49.00% {
          background-color: #ffffff;
      }
      50.00% {
          background-color: #000000;
      }
      to {
          background-color: #000000;
      }
  }
  
  @-moz-keyframes b12_3d_glitch {
      from {
          transform: skewX(0deg);
          -webkit-transform: skewX(0deg);
          -moz-transform: skewX(0deg);
          color: #000000;
      }
      25.00% {
          transform: skewX(80deg);
          -webkit-transform: skewX(80deg);
          -moz-transform: skewX(80deg);
          color: #000000;
      }
      75.00% {
          transform: skewX(-20deg);
          -webkit-transform: skewX(-20deg);
          -moz-transform: skewX(-20deg);
          color: #ffffff;
      }
      90.00% {
          transform: skewX(0deg);
          -webkit-transform: skewX(0deg);
          -moz-transform: skewX(0deg);
          color: #ffffff;
      }
      to {
          transform: skewX(0deg);
          -webkit-transform: skewX(0deg);
          -moz-transform: skewX(0deg);
          color: #ffffff;
      }
  }

  .converter-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .converter-wrapper input {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    height: 40px;
    box-sizing: border-box;
  }
  
  .converter-wrapper span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
  
  .converter-wrapper span select {
    background-color: #263648;
    color: #fff;
    font-size: inherit;
    padding: 10px;
    width: 100%;
    border: 0;
    margin: 0;
    border-radius: 0px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: none; /* hide default arrow in chrome OSX */
  }
  
  .converter-wrapper span::before,
  .converter-wrapper span::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }
  
  .converter-wrapper span::after { /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.5em;
    top: 50%;
    margin-top: -.5em;
    color: #131B24;
  }
  
  .converter-wrapper span::before { /*  Custom dropdown arrow cover */
    width: 2.5em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0;
    background-color: #202E3C;
  }
  
  .converter-side-a,
  .converter-side-b {
    float: left;
    margin-top: 10px;
    box-sizing: border-box;
    width: 45%;
  }
  
  .converter-equals {
    float: left;
    box-sizing: border-box;
    width: 10%;
    color: #FFF;
    font-size: 2.4em;
    line-height: 0;
    text-align: center;
  }
  
  .converter-side-a {
    padding-right: 10px;
  }
  
  .converter-side-b {
    padding-left: 10px;
  }

  
  
  .but {
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-top: 200px;
  }
  
  .btns, .btns.disabled:hover { 
      display: block;
      margin-bottom: 20px;
      text-decoration: none;
      border:1px solid #202E3C; 
      -webkit-border-radius: 3px; 
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-family:arial, helvetica, sans-serif; 
      padding: 10px 10px 10px 10px; 
      text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
      text-align: center; 
      color: #FFFFFF; 
      background-color: #202E3C;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #202E3C), color-stop(100%, #202E3C));
      background-image: -webkit-linear-gradient(top, #202E3C, #1c5a85);
      background-image: -moz-linear-gradient(top, #202E3C, #1c5a85);
      background-image: -ms-linear-gradient(top, #202E3C, #1c5a85);
      background-image: -o-linear-gradient(top, #202E3C, #1c5a85);
      background-image: linear-gradient(top, #202E3C, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
  }
  
  .btns:hover{
      border:1px solid #1c5675;
      background-color: #26759e;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26759e), color-stop(100%, #133d5b));
      background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
      background-image: -moz-linear-gradient(top, #26759e, #133d5b);
      background-image: -ms-linear-gradient(top, #26759e, #133d5b);
      background-image: -o-linear-gradient(top, #26759e, #133d5b);
      background-image: linear-gradient(top, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
  }
